.faqs
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px

.faq
  border: 1px solid #ddd
  padding: 20px
  margin: 10px
  width: 80%
  max-width: 600px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  border-radius: 8px

  h2
    font-size: 1.5em
    margin-bottom: 10px

  p
    font-size: 1.2em
