.customers
  display: block
  box-sizing: border-box
  position: relative
  background-color: #b0b0b01a
  padding: 80px
  height: 525px



.header
  display: flex
  box-sizing: border-box
  width: 100%
  justify-content: space-around
  margin: auto
  color: #343434
  font-size: 28px
  line-height: 40px

.headerStar
  width: 24px
  height: 24px
  background-color: #f17c0fa5
  padding: 8px
  border-radius: 50px
  margin-right: 12px

.review
  font-weight: 500
  margin-right: 10px

.scroll
  margin: auto
  justify-content: flex-end
  margin-bottom: 20px
  cursor: pointer
  
.scrollLeft
  margin-right: 0

.scrollRight
  margin-left: 0

.ratings
  display: flex
  padding: 0px 0 20px 0
  align-items: flex-start
 

.comment
  position: relative
  flex: 0 1 auto  
  width: 414px
  padding: 32px
  margin-right: 24px
  border-radius: 24px
  background: #fff
  font-size: 16px
  line-height: 24px
  box-shadow: 0 8px 10px 0 rgba(48, 127, 245, 0.08)  // Adiciona a sombra ao contêiner
  
  

  p
    color: #5e5c9b
    margin: 0 0 50px 0
    /* Certifique-se de que o parágrafo se ajuste ao tamanho do contêiner */

  h3
    
    color: #19184a
    font-weight: 700
    margin-bottom: 8px
